<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<strong>Находится на станции:</strong>

<% if @train.current_station.present? %>
  <%= @train.current_station.title %>
<% else %>
  Не указано
<% end %>
  <br><br>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
