<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<strong>Находится на станции:</strong>

<% if @train.current_station.present? %>
  <%= @train.current_station.title %>
<% else %>
  Не указано
<% end %>
  <br>

<strong>Следует по маршруту:</strong>

<% if @train.route.present? %>
  <%= @train.route.name %>
<% else %>
  Не указано
<% end %>
  <br><br>

<strong>Прицепленные вагоны:</strong>

<% if @train.wagons.present? %>
<br>
  Плацкартных вагонов: <%= @train.wagons.where(wagon_type: 1).count %>
  <% if @train.wagons.where(wagon_type: 1).count > 0 %>
    | Верхних мест:
    <% @train.wagons.where(wagon_type: 1).each {|w| @all_pl_top_places ||= 0; @all_pl_top_places += w.top_places} %>
    <%= @all_pl_top_places %>
    | Нижних мест:
    <% @train.wagons.where(wagon_type: 1).each {|w| @all_pl_bottom_places ||= 0; @all_pl_bottom_places += w.bottom_places} %>
    <%= @all_pl_bottom_places %>
  <% end %>
  <br>

  Купейных вагонов: <%= @train.wagons.where(wagon_type: 2).count %>
  <% if @train.wagons.where(wagon_type: 2).count > 0 %>
    | Верхних мест:
    <% @train.wagons.where(wagon_type: 2).each {|w| @all_cup_top_places ||= 0; @all_cup_top_places += w.top_places} %>
    <%= @all_cup_top_places %>
    | Нижних мест:
    <% @train.wagons.where(wagon_type: 2).each {|w| @all_cup_bottom_places ||= 0; @all_cup_bottom_places += w.bottom_places} %>
    <%= @all_cup_bottom_places %>
  <% end %>
  <br>

  <table>
    <thead>
      <tr>
        <th>Тип вагона</th>
        <th>Номер поезда</th>
        <th>Верхних мест</th>
        <th>Нижних мест</th>
      </tr>
    </thead>
    <%= render @train.wagons %>
  </table>
<% else %>
  Отсутствуют
<% end %>
  <br><br>


<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
