<tr>
  <td><%= cb_wagon.number %></td>
  <td><%= cb_wagon.bottom_places %></td>
  <td><%= cb_wagon.side_bottom_places %></td>
  <td><%= link_to t('common.edit'), edit_admin_wagon_path(cb_wagon) %></td>
  <td><%= link_to t('common.delete'), admin_wagon_path(cb_wagon), method: :delete, data: { confirm: t('common.delete_confirm') } %></td>
</tr>
