<tr>
  <td><%= ticket.route.name %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.seat %></td>
  <td><%= ticket.passanger_info %></td>
  <td><%= link_to 'Подробнее', ticket_path(ticket), class: 'btn btn-sm btn-info'%></td>
</tr>
