<hr>
<p id="notice"><%= notice %></p>
<h2>Билет по маршруту: <%= ticket.route.name %></h2>
<p>
  <p><b>Место:</b> <%= ticket.seat %></p>
  <p><b>Номер поезда:</b>  <%= ticket.train.number %></p>
  <p><b>Место отправления:</b>  <%= ticket.start_station.title %></p>
  <p><b>Время отправления:</b>  <%= ticket.leave_time %></p>
  <p><b>Место назначения:</b>   <%= ticket.end_station.title %></p>
  <p><b>Время назначения:</b>   <%= ticket.arrive_time %></p>

</p>
