<h1>Покупка билета</h1>
<p>
  Укажите данные пассажира, на которого покупается билет
</p>
<%= form_tag tickets_path(current_passanger), method: :post do %>
  <%# render 'common/errors', resource: @ticket %>

  <div class="field">

  <%= fields_for :ticket do |t| %>
    <%= t.label :passanger_info, 'ФИО'  %><br>
    <%= t.text_field :passanger_info %>
    <%= t.hidden_field :end_station_id, value: params[:end_station_id] %>
    <%= t.hidden_field :start_station_id, value: params[:start_station_id] %>
    <%= t.hidden_field :train_id, value: params[:train_id] %>
  <% end %>

</div>


  <div class="actions">
    <%= submit_tag 'Купить билет' %>
  </div>
<% end %>

<%= link_to 'Назад', search_path %>
