<%= form_for([:admin, @passanger]) do |f| %>
  <%= render 'common/errors', resource: @passanger %>

  <div class="field">
    <%= f.label :name, 'ФИО'  %><br>
    <%= f.text_field :name %>
  </div>


  <div class="actions">
    <%= f.submit "#{@passanger.new_record? ? t('common.create') : t('common.update')}" %>
  </div>
<% end %>
