<p id="notice"><%= notice %></p>

<h1>Купейные вагоны</h1>
<% if @wagons.coupe.empty? %>
  Вагоны данного типа отсутствуют
<% else %>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Номер поезда</th>
      <th>Верхних мест</th>
      <th>Нижних мест</th>
    </tr>
  </thead>

  <tbody>
  <%= render partial: 'wagons/coupe_wagon', collection: @wagons.coupe %>
  </tbody>
</table>
<% end %>

<br>

<h1>Плацкартные вагоны</h1>
<% if @wagons.economy.empty? %>
  Вагоны данного типа отсутствуют
<% else %>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Номер поезда</th>
      <th>Верхних мест</th>
      <th>Нижних мест</th>
      <th>Боковых Верхних мест</th>
      <th>Боковых Нижних мест</th>
    </tr>
  </thead>

  <tbody>
  <%= render partial: 'wagons/economy_wagon', collection: @wagons.economy %>
  </tbody>
</table>
<% end %>

<br>


<h1>Сидясие вагоны</h1>
<% if @wagons.seat.empty? %>
  Вагоны данного типа отсутствуют
<% else %>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Номер поезда</th>
      <th>Сидячих мест</th>
    </tr>
  </thead>

  <tbody>
  <%= render partial: 'wagons/seat_wagon', collection: @wagons.seat %>
  </tbody>
</table>
<% end %>

<br>

<h1>CB вагоны</h1>
<% if @wagons.cb.empty? %>
  Вагоны данного типа отсутствуют
<% else %>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Номер поезда</th>
      <th>Нижних мест</th>
      <th>Боковых Нижних мест</th>
    </tr>
  </thead>

  <tbody>
  <%= render partial: 'wagons/cb_wagon', collection: @wagons.cb %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'Добавить вагон', new_wagon_path %>
<br/>
<%= link_to 'Главная', root_path %>
