<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
  <br>
  <div class="field">

    <% if @route.railway_stations.empty? %>
      <strong>На данном маршруте станции отсутствуют</strong>
    <% else %>
      <strong>Список станций в маршруте:</strong>
      <ol>
        <% @route.railway_stations.each do |st| %>
            <li> <%= st.title %></li>
        <% end %>
      </ol>
    <% end %>
  </div>

  <div class="field">
    <% if @route.trains.empty? %>
      <strong>На данном маршруте нет поездов</strong>
    <% else %>
      <strong>Список поездов на маршруте:</strong>
      <ul>
        <% @route.trains.each do |train| %>
            <li> <%= train.number %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
<!-- <%= link_to 'Назад', onclick = "history.back();" %> -->

