<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
  <br><br><br>
  <strong>Список станций в маршруте:</strong>
  <% @route.railway_stations.each do |st| %>
    <div class="field">

      <%= st.title %><br>
    </div>
  <% end %>

</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
