<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
  <br>
  <div class="field">

    <% if @route.railway_stations.empty? %>
      <strong>На данном маршруте станции отсутствуют</strong>
    <% else %>
      <strong>Список станций в маршруте:</strong>
      <table>
        <% @route.railway_stations.each do |st| %>
            <tr>
              <%= form_tag({action: :change_sort_number}, method: :patch, class: "") do %>
                <%= hidden_field_tag(:st_id, st.id) %>
                <td><%= text_field_tag :sort_number, @route.sort_number(st), style: "max-width: 20px; text-align: center" %></td>
                <td><%= st.title %></td>
                <td><%= submit_tag 'Сохранить' %></td>
              <% end %>

            </tr>
        <% end %>
      </table>
    <% end %>
  </div>

  <div class="field">
    <% if @route.trains.empty? %>
      <strong>На данном маршруте нет поездов</strong>
    <% else %>
      <strong>Список поездов на маршруте:</strong>
      <ul>
        <% @route.trains.each do |train| %>
            <li> <%= train.number %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
<!-- <%= link_to 'Назад', onclick = "history.back();" %> -->
