

<p>
  <strong>Название:</strong>
  <%= @route.name %>
  <br>
  <div class="field">

    <% if @route.railway_stations.empty? %>
      <strong>На данном маршруте станции отсутствуют</strong>
    <% else %>
      <strong>Список станций в маршруте:</strong>
      <table>
        <tr>
          <th>Порядок в маршруте | </th>
          <th>Название станции | </th>
          <th>Время прибытия | </th>
          <th>Время отправления</th>
        </tr>
          <% @route.railway_stations.each do |st| %>
            <tr>
              <%= form_tag(change_route_params_admin_railway_station_path(st), method: :patch, class: "") do %>
                <%= hidden_field_tag(:route_id, @route.id) %>
                <td><%= text_field_tag :sort_number, st.sort_number(@route), style: "max-width: 20px; text-align: center" %></td>
                <td><%= st.title %></td>
                <td><%= text_field_tag(:arrive_time, st.arrive_time(@route)) %></td>
                <td><%= text_field_tag(:leave_time, st.leave_time(@route)) %></td>
                <td><%= submit_tag 'Сохранить' %></td>
              <% end %>

            </tr>
        <% end %>
      </table>
    <% end %>
  </div>

  <div class="field">
    <% if @route.trains.empty? %>
      <strong>На данном маршруте нет поездов</strong>
    <% else %>
      <strong>Список поездов на маршруте:</strong>
      <ul>
        <% @route.trains.each do |train| %>
            <li> <%= train.number %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</p>

<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %>
<!-- <%= link_to 'Назад', onclick = "history.back();" %> -->
